body {
    font-family: "Montserrat", "Times New Roman", sans-serif;
    background: #ffffff;
    color: #AE7C78;
}

header,
main,
footer {
    background: #ffffff;
}

.header-page {}
.header-logo {}
.header-nav {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    list-style: none;
}

.header-nav a {
    color: #AE7C78;
    text-decoration: none;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-nav a:active {
    color: rgba(0, 0, 0, 0.3);
}

.link-on-catalog {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.delivery-and-payment {}
.reviews {}
.special-offers {}
.contacts {}
.basket {}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.intro {}
.intro-content h2 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    color: #AE7C78;
}

.intro-content h2 span {
    font-style: italic;
}

.intro-content p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.intro-gallery {
    
}

.advantages {
    margin: 10px;
}

.catalog-link {
    padding: 30px 70px;
    text-decoration: none;
    color: #ffffff;
    background: #D89999;
    border-radius: 40px;
    float: left;
}

.catalog-link:hover {
    text-decoration: underline;
}

.catalog-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.fresh-flowers img {}

.fresh-flowers dt {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.fresh-flowers dd {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.send-photos img {}

.send-photos dt {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.send-photos dd {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.button {}
.popular {}

.popular-heading {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 36px;
    color: #AE7C78;
}
.slider {}
.slider-item {}
.slider-item-content h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
}

.slider-item-content p:first-of-type {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.slider-item-content p:nth-of-type(2) {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #AE7C78;
}

.slider-item-content p:last-of-type {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;
    margin-bottom: 40px;
}

.to-order {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 30px 107px;
    background: #D89999;
    border-radius: 40px;
}

.to-order:hover {
    text-decoration: underline;
}

.to-order:active {
    color: rgba(0, 0, 0, 0.3);
}

.slider-item-pic {
    position: absolute;
    left: 730px;
    top: 954px;
}

.slider-control {
    margin-top: 14px;
    display: flex;
    justify-content: center;
}

.slider-button {
    padding: 0;
    appearance: none;
    border: none;
    background-color: transparent;
}

.slider-button:hover {
    opacity: 0.8;
}

.slider-button:active {
    opacity: 0.5;
}

.slider-button.previous {
    margin-right: 20px;
}

.catalog-preview {}
.catalog-item {
    padding: 0;
    list-style: none;
}

.catalog-item-content {
    width: 387px;
    height: 442px;
}

a.catalog-item-content {
    background-color: rgba(174, 124, 120, 0.6);
    border-radius: 10px;
}

.catalog-item-content a {
    text-decoration: none;
    vertical-align: middle;
}

.catalog-item-content h3 {
    font-family: "Playfair Display", "Tahoma", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.catalog-item-content p {
    font-family: "Montserrat", "Tahoma", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.catalog-item-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(174, 124, 120, 0.6);
    background-size: cover;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.discount {}
.steps {}
.news {}
.reviews {}
.contacts {}
.page-footer {}